*{
    padding : 0px;
    margin : 0px;
    letter-spacing: 1px;
    line-height: 115%;
}
#resume{
    display : grid;
    grid-template-columns: 2fr 5fr;
}

hr{
    margin-bottom: 0.6rem;
}
/* utility classes */
.center{
    text-align: center;
}
.h_pri1{
    font-size: 2.3rem;
    font-weight: bold;
}
.h_sec1{
    font-size:1.4rem;
    /* font-family: 'Courier New', Courier, monospace; */
    font-weight: bold;
    margin : 0rem 0.5rem; padding: 0rem;
}


/* CSS for first section */
#partA{
    background-color:darkcyan;
    color:white;
    border-radius: 0.7rem;
    margin-left: 1.8rem;
}
#partA > div{
    margin-top: 3rem;
}

#name{
    padding : 1rem;
    margin : 3rem 0rem 2rem 0rem;
    background-color: white;
    color : black;
    border-radius: 0.7rem;
}

.bodySecA{
    font-size: 1.1rem;
    padding : 0rem;
    margin : 0rem;
    /* font-weight: bold; */
}

.bodySecA a{
    font-size: 1.1 rem;
    padding : 0rem;
    margin-left : 0.5rem ;
    color:white;
    /* text-decoration: none; */
}

.bodySecA p{
    margin : 0.3rem; 
    padding : 0rem;
}

.bodySecA li{
    margin : 1.4rem 0.5rem;
    list-style: none;
}

/* css for section B */


#partB{
    margin-top: 10.8rem;
    margin-left: 1rem;
}

#partB > div{
    margin-bottom: 2rem;
}

#about{
    letter-spacing: 1px;
    line-height: 130%;

}

bodySecB{
    font-size: 1.1rem;
    padding : 0rem;
    margin : 0rem;
    font-weight: bold;
}

.bodySecB p{
    margin : 0.3rem; 
    padding : 0rem;
}
.bodySecB li{
    margin : 1rem 0.5rem;
    list-style: none;
}

#education_table {
    display : grid;
    grid-template-columns: 1fr 4fr 2fr 2fr;
    margin : 0.7rem;
    padding : 0rem;
}
.table_head{
    font-size: 1.2rem;
    font-weight: bold;
}

#education_table div{
    padding : 0.3rem;
    margin : 0.1rem;
}
#achievements li{
    margin: 0.1rem;
    padding: 0.1rem;
} 
#achievements ul li ul {
    margin-left:3rem;
}



footer{
    background-color: black;
    color:white;
    text-align : center;
    height : 1.3rem;
    font-size: 1rem;
    border-radius: 0.6rem;
}
